.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.homeWrapper h1 {
  padding: 20px 20px;
  text-align: center;
}

.homeWrapper p {
  padding: 0 20px;
  margin-top: 30px;
  text-align: center;
  opacity: 0.8;
}
